<include file="Public/header" />
<style type="text/css">
	.logo-icon {
		float: left;
		width: 60px;
		height: 50px;
		border: 1px solid #ccc;
	}
</style>

<body>
	<div class="panel admin-panel">
		<div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>
  	<if condition="$status eq 1">增加<else />修改</if>广告位</strong></div>
		<div class="body-content">
			<form method="post" id="myform" class="form-x" action="<{:U('advert_edit',['status'=>$status,'id'=>$id])}>" enctype="multipart/form-data">
				<input type="hidden" name="editorid" value="<{$Think.session.user_info.user_id}>" />
				<input type="hidden" name="editor" value="<{$Think.session.user_info.user_name}>" />
				<input type="hidden" name="type" value="<{$status}>" />
				<div class="form-group">
					<div class="label">
						<label>上级分类：</label>
					</div>
					<div class="field">
						<select name="cate" class="input w50" id="catse">
							<option value="">请选择分类</option>
							<option value="1" <if condition="$info['cate'] eq 1">selected</if>>轮播图(1920*665)</option>
							<option value="2" <if condition="$info['cate'] eq 2">selected</if>>左侧侧边栏(200*546)</option>
							<option value="3" <if condition="$info['cate'] eq 3">selected</if>>右侧侧边栏</option>
							<option value="4" <if condition="$info['cate'] eq 4">selected</if>>中间栏</option>
							<option value="5" <if condition="$info['cate'] eq 5">selected</if>>底部（二维码等）</option>
						</select>
						<div class="tips-thishi">*</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>广告名称：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" id="titles" placeholder="请输入广告名" value="<{$info.name}>" name="name" data-validate="required:请输入广告名" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>图片：</label>
					</div>
					<div class="field">
						<div class="logo-icon">
							<img src="<if condition=" $info[ 'image'] neq '' ">__PUBLIC__/<{$info.image}>
        			<else /><{:C('DEFAULT_IMG')}></if>" width="60" height="50" />
						</div>
						<input type="file" name="image" id="file" style="display:none" accept="image/*" />
						<input type="button" class="button bg-blue margin-left" id="image1" value="+ 浏览上传">
					</div>
				</div>

				<div class="form-group">
					<div class="label">
						<label>宽度：</label>
					</div>
					<div class="field">
						<input type="number" class="input w50" id="" placeholder="请输入宽度，单位px" value="<{$info.width}>" name="width" data-validate="required:请输入宽度" />
						<div class="tips text-danger">留空显示默认</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>高度：</label>
					</div>
					<div class="field">
						<input type="number" class="input w50" id="" placeholder="请输入高度，单位px" value="<{$info.height}>" name="height" data-validate="required:请输入高度" />
						<div class="tips text-danger">留空显示默认</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>跳转地址：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" id="" placeholder="请输入跳转地址，不填默认商桥" value="<{$info.url}>" name="url" data-validate="required:请输入跳转地址" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="form-group">
					<div class="label">
						<label>显示：</label>
					</div>
					<div class="field">
						<div class="bootstrap-switch bootstrap-switch-large">
							<if condition="$status eq 1">
								<input type="checkbox" name="isshow" value="1" checked/>
								<else />
								<input type="checkbox" name="isshow" value="<{$info.isshow}>" <if condition="$info['isshow'] eq 1">checked</if>/>
							</if>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label></label>
					</div>
					<div class="field">
						<a href="javascript:history.back()" class="button bg-yellow icon-backward"> 返回</a>
						<button class="button bg-main icon-check-square-o" type="submit" id="btn"> 提交</button>
					</div>
				</div>
				<input type="hidden" name="id" value="<{$info.id}>" />
			</form>
		</div>
	</div>
	<script>
		$(function() {
			$("#image1").click(function() {
				$("#file").click();
			});
			//文件上传预览
			$("#file").change(function() {
				//在重新点击上传附件移除所有img的元素
				$(".logo-icon").children('img').remove();
				// 得到一个参考文件列表
				var files = !!this.files ? this.files : [];
				// 如果没有选择任何文件,或者没有FileReader支持,返回
				if(!files.length || !window.FileReader) return;
				// 只有选择的文件是一个image才显示
				//if (/^image/.test( files[i].type)){}
				$.each(files, function(i) {
					// 创建一个新的FileReader的实例
					var reader = new FileReader();
					reader.readAsDataURL(files[i]);
					// 当加载时,图像数据
					reader.onloadend = function() {
						img = "<img src='" + this.result + "' width='60' height='50'/> &nbsp;";
						$(".logo-icon").append(img);
					}
				});
			});
			$('.radio label').each(function() {
				var e = $(this);
				e.click(function() {
					e.closest('.radio').find("label").removeClass("active");
					e.addClass("active");
				});
			});
			$("#btn").click(function() {
				var catse = $("#catse").val();
				var title = $("#titles").val();
				if(catse == '' || title == '') {
					errors("分类或名称不能为空");
					return false;
				} else {
					$("#myform").submit();
				}
			});
			//checkbox选择状态
			//$("input[type='checkbox']").bootstrapSwitch('toggleState',true)
			$("input[type='checkbox']").bootstrapSwitch({
				onSwitchChange: function(e, state) {
					console.log(this)
					console.log(state);
					state == true ? $(this).val(1) : $(this).val(0);
				}
			});
		});
	</script>
</body>

</html>