<!--表情-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/emoji/css/jquery.mCustomScrollbar.min.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/emoji/css/jquery.emoji.min.css"/>
<script src="__PUBLIC__/emoji/js/jquery.mousewheel-3.0.6.min.js"></script>
<script src="__PUBLIC__/emoji/js/jquery.mCustomScrollbar.min.js"></script>
<script src="__PUBLIC__/emoji/js/jquery.emoji.min.js"></script>
<script type="text/javascript">
$(function(){
	//表情
	$("#conts").emoji({
		button: "#emotion",
		showTab:false,
		icons:[{
			name:"qq表情",
			path:"__PUBLIC__/emoji/img/qq/",
			maxNum:91,
			file:".gif",
			placeholder:"/{alias}",
			alias:{
				1: "微笑",2: "撇嘴",3: "色",4: "发呆",5: "得意",6: "流泪",7: "害羞",8: "闭嘴",
				9: "睡",10: "大哭",11: "尴尬",12: "发怒",13: "调皮",14: "呲牙",15: "惊讶",
				16: "难过",17: "酷",18: "冷汗",19: "抓狂",20: "吐",21: "偷笑",22: "愉快",
				23: "白眼",24: "傲慢",25: "饥饿",26: "困",27: "惊恐",28: "流汗",29: "憨笑",
				30: "悠闲",31: "奋斗",32: "咒骂",33: "疑问",34: "嘘",35: "晕",36: "疯了",
				37: "衰",38: "骷髅",39: "敲打",40: "再见",41: "擦汗",42: "抠鼻",43: "鼓掌",44: "糗大了",
				45: "坏笑",46: "左哼哼",47: "右哼哼",48: "哈欠",49: "鄙视",50: "委屈",51: "快哭了",52: "阴险",
				53:"亲亲",54:"吓",55:"可怜",56:"菜刀",57:"啤酒",58:"咖啡",59:"饭",60:"猪头",61:"玫瑰",
				62:"凋谢",63:"嘴唇",64:"爱心",65:"心碎",66:"蛋糕",67:"闪电",68:"炸弹",69:"刀",
				70:"足球",71:"瓢虫",72:"便便",73:"拥抱",74:"强",75:"弱",76:"握手",77:"胜利",
				78:"抱拳",79:"勾引",80:"拳头",81:"差劲",82:"爱你",83:"NO",84:"OK",85:"跳跳",
				86:"发抖",87:"怄火",88:"磕头",89:"回头",90:"激动",91:"乱舞"
			},
			title:{
				1: "微笑",2: "撇嘴",3: "色",4: "发呆",5: "得意",6: "流泪",7: "害羞",8: "闭嘴",
				9: "睡",10: "大哭",11: "尴尬",12: "发怒",13: "调皮",14: "呲牙",15: "惊讶",
				16: "难过",17: "酷",18: "冷汗",19: "抓狂",20: "吐",21: "偷笑",22: "愉快",
				23: "白眼",24: "傲慢",25: "饥饿",26: "困",27: "惊恐",28: "流汗",29: "憨笑",
				30: "悠闲",31: "奋斗",32: "咒骂",33: "疑问",34: "嘘",35: "晕",36: "疯了",
				37: "衰",38: "骷髅",39: "敲打",40: "再见",41: "擦汗",42: "抠鼻",43: "鼓掌",44: "糗大了",
				45: "坏笑",46: "左哼哼",47: "右哼哼",48: "哈欠",49: "鄙视",50: "委屈",51: "快哭了",52: "阴险",
				53:"亲亲",54:"吓",55:"可怜",56:"菜刀",57:"啤酒",58:"咖啡",59:"饭",60:"猪头",61:"玫瑰",
				62:"凋谢",63:"嘴唇",64:"爱心",65:"心碎",66:"蛋糕",67:"闪电",68:"炸弹",69:"刀",
				70:"足球",71:"瓢虫",72:"便便",73:"拥抱",74:"强",75:"弱",76:"握手",77:"胜利",
				78:"抱拳",79:"勾引",80:"拳头",81:"差劲",82:"爱你",83:"NO",84:"OK",85:"跳跳",
				86:"发抖",87:"怄火",88:"磕头",89:"回头",90:"激动",91:"乱舞"
			}
		}]
	});
});
</script>