<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>后台管理中心</title>  
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-switch.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/css/page.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css">
    <!--<script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script> -->
    <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script> 
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap-switch.js"></script>
    <include file="Public/alert" />
</head>