<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
	<div class="am-u-sm-12">
		<article class="am-article am-margin-top-lg">
		  	<div class="am-article-hd am-text-center">
			    <h1 class="am-article-title"><{$info.name}></h1>
			    <p class="am-article-meta"><{$info.editor}>&emsp;<{$info.ptime}>&emsp;浏览：<{$info.hits}></p>
		  	</div>
		  	<div class="am-article-bd">
	    		<{$info.content}>
		  	</div>
		</article>

		<div class="am-g blog-article-widget blog-article-margin">
			<div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
				<span class="am-icon-tags"> &nbsp;</span>
				<{$info.keywords}>
			</div>
		</div>

		<hr>
		<!--<div class="am-g blog-author blog-article-margin">
			<div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
				<img src="__PUBLIC__/assets/i/f15.jpg" alt="" class="blog-author-img am-circle">
			</div>
			<div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
				<h3><span>作者 &nbsp;: &nbsp;</span><span class="blog-color">amazeui</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		<hr>-->
		<ul class="am-pagination blog-article-margin">
			<li class="am-pagination-prev">
				<eq name="pre" value="">
				<a class="">&laquo; 已经没有了</a>
				<else />
				<a href="<{:getArticleUrl($pre['catid'],$pre['id'],2)}>" class="">&laquo; <{$pre.name}></a>
				</eq>
			</li>
			<li class="am-pagination-next">
				<eq name="next" value="">
				<a class="">已经没有了 &raquo;</a>
				<else />
				<a href="<{:getArticleUrl($next['catid'],$next['id'],2)}>" class=""><{$next.name}> &raquo;</a>
				</eq>
			</li>
		</ul>
	</div>
</div>
<!-- content end -->