<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
  <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }">
      <div id="container">          
          <div><img src="__PUBLIC__/assets/images/01.jpg"><h3>Agfa</h3></div>
          <div><img src="__PUBLIC__/assets/images/02.jpg"><h3>Auto</h3></div>
          <div><img src="__PUBLIC__/assets/images/03.jpg"><h3>Bald eagle</h3></div>
          <div><img src="__PUBLIC__/assets/images/04.jpg"><h3>Black swan</h3></div>
          <div><img src="__PUBLIC__/assets/images/05.jpg"><h3>Book shelf</h3></div>
          <div><img src="__PUBLIC__/assets/images/06.jpg"><h3>Camera</h3></div>
          <div><img src="__PUBLIC__/assets/images/07.jpg"><h3>Camera</h3></div>
          <div><img src="__PUBLIC__/assets/images/25.jpg"><h3>Vintage camera</h3></div>
          <div><img src="__PUBLIC__/assets/images/09.jpg"><h3>Coffee</h3></div>
          <div><img src="__PUBLIC__/assets/images/10.jpg"><h3>Cookies</h3></div>
          <div><img src="__PUBLIC__/assets/images/11.jpg"><h3>Cubes</h3></div>
          <div><img src="__PUBLIC__/assets/images/12.jpg"><h3>DJ</h3></div>
          <div><img src="__PUBLIC__/assets/images/13.jpg"><h3>Doors</h3></div>
          <div><img src="__PUBLIC__/assets/images/14.jpg"><h3>Matchbox</h3></div>
          <div><img src="__PUBLIC__/assets/images/15.jpg"><h3>Freiburg</h3></div>
          <div><img src="__PUBLIC__/assets/images/16.jpg"><h3>Henna</h3></div>
          <div><img src="__PUBLIC__/assets/images/17.jpg"><h3>Home office</h3></div>
          <div><img src="__PUBLIC__/assets/images/18.jpg"><h3>iPad</h3></div>
          <div><img src="__PUBLIC__/assets/images/19.jpg"><h3>Keyboard</h3></div>
          <div><img src="__PUBLIC__/assets/images/20.jpg"><h3>Lynx</h3></div>
          <div><img src="__PUBLIC__/assets/images/21.jpg"><h3>Mac</h3></div>
          <div><img src="__PUBLIC__/assets/images/22.jpg"><h3>Notebook</h3></div>
          <div><img src="__PUBLIC__/assets/images/23.jpg"><h3>Thoughts</h3></div>
          <div><img src="__PUBLIC__/assets/images/24.jpg"><h3>Office</h3></div>
          <div><img src="__PUBLIC__/assets/images/25.jpg"><h3>Children</h3></div>
          <div><img src="__PUBLIC__/assets/images/26.jpg"><h3>Portrait</h3></div>
          <div><img src="__PUBLIC__/assets/images/27.jpg"><h3>Startup</h3></div>
          <div><img src="__PUBLIC__/assets/images/28.jpg"><h3>Sun</h3></div>
          <div><img src="__PUBLIC__/assets/images/29.jpg"><h3>The Eiffel Tower</h3></div>
          <div><img src="__PUBLIC__/assets/images/30.jpg"><h3>Water drops</h3></div>
          
    </div> 
  </figure>

</div>
<!-- content end -->
<script src="__PUBLIC__/assets/js/pinto.min.js"></script>
<script src="__PUBLIC__/assets/js/img.js"></script>
