<!-- banner start -->
<div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
	<div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}'>
		<ul class="am-slides">
			<li>
				<img src="__PUBLIC__/assets/i/b2.jpg">
				<div class="am-slider-desc blog-slider-desc">
					<div class="blog-text-center blog-slider-con">
						<span><a href="" class="blog-color">Article &nbsp;</a></span>
						<h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
						<p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
						</p>
						<span>2015/10/9</span>
					</div>
				</div>
			</li>
			<li>
				<img src="__PUBLIC__/assets/i/b3.jpg">
				<div class="am-slider-desc blog-slider-desc">
					<div class="blog-text-center blog-slider-con">
						<span><a href="" class="blog-color">Article &nbsp;</a></span>
						<h1 class="blog-h-margin"><a href="">天气决定心情</a></h1>
						<p>一个好的天气给人的感觉就是神清气爽，阴云密布人的心情总是很差
						</p>
						<span>2015/10/9</span>
					</div>
				</div>
			</li>
			<li>
				<img src="__PUBLIC__/assets/i/b2.jpg">
				<div class="am-slider-desc blog-slider-desc">
					<div class="blog-text-center blog-slider-con">
						<span><a href="" class="blog-color">Article &nbsp;</a></span>
						<h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
						<p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
						</p>
						<span>2015/10/9</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- banner end -->
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
	<div class="am-u-md-8 am-u-sm-12">
		<include file="Layout/list" />
	</div>
	<include file="Layout/right" />
</div>
<!-- content end -->