<include file="Public/header"/>
<style>
.groups{display:inline-block}
#backupsize{display:inline; position:relative; top:2px;};
</style>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 数据备份列表</strong></div>
    <form id="myform" action="<{:U('Backups/export',array('submit'=>1))}>" method="post">
  <div class="padding border-bottom">
  	<div class="button-group groups">
	    <a type="button" class="button border-main" onclick="exports()">
	    	<span class="icon-plus-square-o"></span> 开始备份</a>
	    <a type="button" class="button border-main" href="<{:U('Backups/optimize')}>">
	    	<span class="icon-refresh"></span> 优化表</a>
	    <a type="button" class="button border-main" href="<{:('Backups/repair')}>">
	    	<span class="icon-wrench"></span> 修复表</a>
    </div>
    <div class="groups trous">
       分卷大小：<input type="nummer" id="backupsize" class="input" 
       style="width:100px" value="10" name="sizelimit" max="50" size="50" placeholder="请输入备份大小(M)" />  最大50M   
    </div> 
    <div class="groups">
    	&ensp; <font color="red">注意：InnoDb引擎默认存在存储空间，不是碎片</font>
    </div>
  </div>
  <table class="table table-hover text-center">
    <tr>
      <th width="5%"><input type="checkbox" checked id="allcheck"/></th>
      <th width="10%">数据表名</th>
      <th width="10%">表注释</th>
      <th width="10%">数据条数</th>
      <th width="5%">大小</th>
      <th width="5%">空间碎片</th>
      <th width="5%">存储引擎</th>
      <th width="12%">更新时间</th>
      <th width="12%">创建时间</th>
      <th width="15%">操作</th>
    </tr>
    <volist name="tables" id="v">
    <tr>
      <td>
      	<input type="checkbox" name="backup_tables[<{$v.name}>]" checked value="-1" />
      </td>
      <td><{$v.name}></td>
      <td><{$v.comment}></td>
      <td><{$v.rows}></td>
      <td><{$v.data_length|format_bytes}></td>
      <td><font <if condition="$v['data_free'] neq 0">color="red"</if>><{$v.data_free|format_bytes}></font></td>
      <td><{$v.engine}></td>
      <td><{$v.update_time}></td>
      <td><{$v.create_time}></td>
      <td><div class="button-group"> 
      	<a class="button border-main" href="<{:U('Backups/optimize',['table'=>$v['name']])}>">
      		<span class="icon-refresh"></span> 优化表</a> 
      	<a class="button border-main" href="<{:U('Backups/repair',['table'=>$v['name']])}>">
      		<span class="icon-wrench"></span> 修复表</a> 
    </tr>
    <if condition="$v['vols_length'] gt 1">
    	<volist name="v['vols']" id="vo">
	    <tr class="juanchild" style="display:none">
	      <td>卷<{$vo.vol}></td>
	      <td><{$vo.file}></td>
	      <td><{$v.date_str}></td>
	      <td><{$vo.size}></td>
	      <td></td>
	      <td></td>
	    </tr>
	    </volist>
    </if>
    </volist>
  </table>
  	<input type="hidden" name="backup_name" value="<{$backup_name}>"/>
  </form>
</div>
<script type="text/javascript">
$(function(){
	$("#disp").toggle(function(){
		$(this).children().addClass("icon-minus").removeClass("icon-plus");
		$(".juanchild").show();		
	},function(){
		$(this).children().addClass("icon-plus").removeClass("icon-minus");
		$(".juanchild").hide();
	});
	$("#allcheck").click(function(){
		this.checked=this.checked==true ? false : true;
		$("input[type='checkbox']").each(function(){
			if(this.checked){
				this.checked=false;
			}else{
				this.checked=true;
			}
		});
	});
});
function del(file){
	function dels(){
		location.href="<{:('Backups/del_backups')}>/backup/"+file;
	}
	warning(dels);
}
function restore(file){
	function imports(){
		location.href="<{:('Backups/import')}>/backup/"+file;
	}
	warning(imports,'确定');
}
function exports(){
	$("input[type='checkbox']").each(function(){
		if(!this.checked) $(this).removeAttr("checked");
	});
	$("#myform").submit();
}
</script>
</body>
</html>