.mo-swiper-1{
	height: 400px\0;
	overflow: hidden;
}
.mo-swiper-height-1{
	height: 350px\0;
	overflow: hidden;
}
.mo-swiper-height-2{
	height: 580px\0;
	overflow: hidden;
}
.mo-swiper-height-1 .swiper-slide{
	margin-left:19px\0;
	width: 440px\0;
	overflow: hidden;
}
.mo-swiper-1 .swiper-slide {
	-webkit-transition: transform 1.0s;
	-moz-transition: transform 1.0s;
	-ms-transition: transform 1.0s;
	-o-transition: transform 1.0s;
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
}

.mo-swiper-1 .swiper-slide-active,.swiper-slide-duplicate-active {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.mo-swiper-1 .none-effect {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}
.swiper-slide a {
	background: #fff;
	padding: 10px;
	display: block;
	border-radius: 14px;
}

.swiper-slide-active a:after {
	background: none;
}

.swiper-slide img {
	width: 100%;
	border-radius: 14px;
	display: block;
}

.swiper-pagination {
	position: relative;
	margin-bottom: 30px;
}

.swiper-pagination-bullet {
	background: #C0C0C0;
	margin-left: 4px;
	margin-right: 4px;
	width: 17px;
	height: 17px;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	width: 17px;
	height: 17px;
	background: #46D0B8;
	border: 6px solid #46D0B8;
	margin-bottom: 0;
}

.swiper-button {
}
.swiper-button-prev {
	position: absolute;
	left: 20px;
	top: 146px;
	border-radius: 50%;
	color: #46D0B8;
	background: none;
	opacity: .3;
	filter: alpha(opacity=30);
}

.swiper-button-next {
	position: absolute;
	top: 146px;
	right: 20px;
	color: #46D0B8;
	border-radius: 50%;
	background: none;
	opacity: .3;
	filter: alpha(opacity=30);
}

.swiper-button-prev:hover,.swiper-button-next:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
